/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron p{
	padding: 0 40px;
	margin: 0 40px;
  font-family: Arvo, Georgia;
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 100;
	color: #9709CC;
}

.head-details{
	text-align: center;
}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 40px;
	padding: 30px;
}

ul.nav{
	font-family: Arvo, Georgia;
  font-size: 12px;
  font-weight: bold;
}

h1.head-text{
	color: #E67832;
	text-transform: capitalize;
	font-family: Georgia, Comic Sans MS;
	font-size: 60px;
	text-shadow: 4px 4px #0034BC;
	font-weight: 300;
}

.jumbotron{
	text-align: center;
	background-image: url("../images/JailBreakChallengeLogo1.jpg");
	background-size: auto auto;
}

.btn-lg{
	font-size: 30px;
	font-family: Arvo, Georgia;
}

.homepage{
	text-align: center;
	padding: 30px 0;
}

.homepage h2, .homepage h3{
	color: red;
	text-transform: uppercase;
	font-family: Arvo, Georgia;
}

.justify-details{
	font-size: 18px;
	font-weight: 100;
	text-align: justify;
	font-family: Arvo, Georgia;
}

.btn-default{
	font-size: 18px;
	color: red;
	font-weight: 100;
	font-family: Arvo, Georgia;
}

.homepage hr{
	border-color: red;
  width: 150px;
  margin-top: 5px;
}

.mass-org{
	text-transform: capitalize;
	color: red;
}
.homepage a:hover{
	color: red;
	text-decoration: none;
	opacity: 0.6;
}

#ask-for-help{
	background-color: #F5F5F5;
}

footer{
	background-color: #F75423;
	padding-top: 100px;
	padding-bottom: 0px;
	font-family: Arvo, Georgia;
	font-size: 18px;
	text-align: left;
	font-weight: 200;
}

@media (max-width: 1199px) {
	.jumbotron h1{
		font-size: 49px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-right: 
	}
	.jumbotron p{
		font-size: 24px;
	}
	.btn-lg{
		font-size: 24px;
	}
}

@media (max-width: 991px) {
	.jumbotron h1{
		font-size: 49px;
    margin-top: 7px;
    margin-bottom: 7px; 
	}
	.jumbotron p{
		font-size: 24px;
	}
	.btn-lg{
		font-size: 24px;
	}
	.homepage img{
		width: 750px;
	}
	.justify-details{
		padding: 0px 10px 0px 7px;
	}
}

@media (max-width: 767px) {
	.jumbotron h1{
		font-size: 29px;
    text-shadow: 2px 2px #0034BC;
    margin-top: -20px;
	}
	.jumbotron p{
		font-size: 20px;
	}
	.btn-lg{
		font-size: 20px;
	}
	.homepage img{
		width: 465px;
	}
	.justify-details{
		padding: 0px 10px 0px 7px;
	}
}

@media (max-width: 488px) {
	.jumbotron h1{
		font-size: 28px;
	}
}